.bg1st{
	background: url('../images/bg2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}
nav a{
	color: rgb(255,255,255);
	text-decoration: none;
}